* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #1d2b6b;
  background: #f7f7f7;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;

}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.center-text {
  text-align: center;
}



.navbar {
  width: 100%;
  padding: 30px 0;
}

.nav-inner {
  display: flex;
  align-items: center;
  gap: 400px;
  padding-left: 40px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  width: auto;
}

.logo span {
  color: #53fff2;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-right: 80px;
}

.nav-links li {
  color: white;
  font-size: 14px;
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero {
  position: relative;
  overflow: hidden;
  background:
    url("../final-project-images/hero-bg.png"),
    linear-gradient(135deg, #c735d8, #6c78ff);
  background-repeat: no-repeat;
  background-position: 50px 250px, center  ;
  background-size: 180px auto, cover;
  color: white;
  padding-bottom: 100px;
   position: relative;
  overflow: hidden;
  min-height: 850px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  min-height: 80vh;
  padding-left: 40px;
}

.hero-text {
  flex: 1;
  max-width: 520px;
  margin-left: 0;
}

.hero-text .subtitle {
  margin-bottom: 10px;
  font-size: 14px;
}

.hero-text h1 {
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #53fff2;
}

.hero-text p {
  max-width: 500px;
  margin-bottom: 25px;

}

.hero-image {
  flex: 1;
  position: relative;
}

.hero-image img {
  width: 450px;
  border-radius: 30px;
  position: absolute;
  right: 50px; 
  top: -330px;  
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn-light {
  background: white;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 6px;
  color: #c536d8;
  font-size: 14px;
  text-decoration: none;
}

.small {
  padding: 10px 20px;
  font-size: 13px;
}


.features h2,
.how-it-works h2,
.info h2,
.pricing h2,
.review h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.section-text {
  max-width: 600px;
  margin: 0 auto 40px;
  color: #666;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.feature-cards p {
  color: #868585;
}

.f-card {
  background: white;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: relative;
  gap: 25px;
}


.card img {
  width: 50px;
  margin-bottom: 20px;
  align-items: center;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 20px;
}


.work-row,
.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.work-text,
.info-text,
.work-image,
.info-image {
  flex: 1;
}

.work-item {
  margin-bottom: 25px;
}

.work-item h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

.work-image img,
.info-image img {
  width: 260px;
  margin: 0 auto;
  border-radius: 25px;
}

.app-work-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.work-left {
  width: 50%;
}

.work-left h2 {
  font-size: 38px;
  color: #18296b;
  margin-bottom: 50px;
}

.work-step {
  display: flex;
  align-items: flex-start;
  gap: 28px;
  margin-bottom: 62px;
}

.work-step img {
  width: 82px;
  height: 82px;
}

.work-step h3 {
  font-size: 22px;
  color: #18296b;
  margin-bottom: 10px;
}

.work-step p {
  color: #8190a5;
  font-size: 15px;
  line-height: 1.7;
  max-width: 330px;
}

.store-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.store-buttons img {
  height: 58px;
  width: auto;
}

.work-right {
  position: relative;
  width: 460px;
  height: 590px;
}

.circle-bg {
  position: absolute;
  width: 430px;
  height: 430px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.phone-img {
 position: absolute;
  width: 300px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}

.manage-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.manage-phone {
  position: relative;
  width: 420px;
  height: 560px;
}

.manage-bg {
  position: absolute;
  width: 430px;
  height: 430px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.manage-img {
  position: absolute;
  width: 260px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.manage-text {
  max-width: 430px;
}

.manage-icon {
  width: 50px;
  margin-bottom: 22px;
}

.manage-text h2 {
  color: #18296b;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.manage-text p {
  color: #8190a5;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 28px;
}

.responsive-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.responsive-text {
  max-width: 430px;
}

.responsive-text h2 {
  color: #18296b;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.responsive-text p {
  color: #8190a5;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 28px;
}

.read-btn {
  display: inline-block;
  background: #c536d8;
  color: white;
  padding: 14px 34px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.responsive-phone {
  position: relative;
  width: 420px;
  height: 560px;
}

.responsive-bg {
  position: absolute;
  width: 430px;
  height: 430px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  z-index: 1;
}

.responsive-img {
  position: absolute;
  width: 260px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.responsive-section {
  width: 100%;
  padding: 90px 20px;
}

.responsive-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

@media (max-width: 900px) {
  .responsive-section {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .manage-section {
    flex-direction: column;
    text-align: center;
  }

  .manage-icon {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 900px) {
  .app-work-section {
    flex-direction: column;
    text-align: center;
  }

  .work-left {
    width: 100%;
  }

  .work-step {
    flex-direction: column;
    align-items: center;
  }

  .store-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .work-right {
    width: 100%;
    max-width: 460px;
  }
}

.video-section {
  height: 350px !important;
  background: 
    linear-gradient(rgba(150, 100, 220, 0.5), rgba(210, 80, 180, 0.5)),
    url("../final-project-images/watch-tutorial-img.jpg") center / cover no-repeat !important;
}

.overlay {
  position: relative;
  z-index: 2;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.overlay h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.play-btn {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  background: #ff4da6;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  color: white;
  cursor: pointer;
}

.pricing-section {
  padding: 100px 20px;
  text-align: center;
}

.pricing-section h2 {
  font-size: 34px;
  color: #18296b;
  margin-bottom: 60px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 40px 30px 35px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  position: relative;
  overflow: hidden;
}

.card::before {
content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  height: 5px;

  background: #c536d8;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.plan {
  font-size: 12px;
  color: #c536d8;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.card h3 {
  font-size: 26px;
  color: #18296b;
  margin-bottom: 8px;
}

.sub {
  font-size: 13px;
  color: #8b95a6;
  margin-bottom: 25px;
}

.card ul {
  text-align: left;
  margin-bottom: 30px;
}

.card li {
  margin-bottom: 12px;
  font-size: 14px;
}

.active {
  color: #18296b;
}

.disabled {
  color: #8b95a6;
}

.start-btn {
  display: inline-block;
  padding: 10px 28px;
  border: 2px solid #c536d8;
  border-radius: 6px;
  color: #c536d8;
  font-size: 14px;
  text-decoration: none;
}

.review-section {
  padding: 80px 20px 100px;
  text-align: center;
}

.review-section h2 {
  font-size: 34px;
  color: #18296b;
  margin-bottom: 70px;
}

.review-box {
  max-width: 650px;
  margin: 0 auto 80px;
  padding: 60px 50px 35px;
  border: 1px solid #cf35e5;
  border-radius: 20px;
  position: relative;
}

.review-img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #cf35e5;
  background: white;
}

.review-box p {
  color: #18296b;
  font-size: 15px;
  line-height: 1.8;
}

.review-box h4 {
  margin-top: 20px;
  color: #18296b;
  font-size: 14px;
  font-weight: 500;
}

.footer-section {
  padding: 90px 20px 80px;
  text-align: center;
  background: linear-gradient(135deg, #c735d8, #6c78ff);
  color: white;
}

.footer-section h2 {
  font-size: 48px;
  margin-bottom: 45px;
  font-weight: 700;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 60px;
}

.footer-buttons img {
  height: 60px;
  width: auto;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.8;
}

@media (max-width: 700px) {
  .footer-section h2 {
    font-size: 34px;
  }

  .footer-buttons {
    flex-direction: column;
    align-items: center;
  }
}

.copyright {
  font-size: 13px;
  opacity: 0.9;
}


@media (max-width: 900px) {
  .hero-content,
  .work-row,
  .info-row {
    flex-direction: column;
    text-align: center;
  }

  .feature-cards,
  .pricing-cards {
    grid-template-columns: 1fr;
  }

  .nav-links {
    display: none;
  }

  .hero-text h1 {
    font-size: 38px;
  }

  .hero-text p {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-buttons,
  .footer-buttons,
  .store-buttons {
    justify-content: center;
  }
}